//this file is a "Partial"


//This is a "Mixin"
@mixin caja_personalizada ($fondo: rgb(229, 179, 229)){
    background-color: bisque;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 6px;
    margin: 2px;
}
.caja{
    @include caja_personalizada($fondo:white);
}
.caja{
    h2{
        color: red;
        padding: 3px;
    }
    p{
        color: purple;
        padding: 3px;

    }
}